# Directorios de existencias (entorno local/QA/PROD)
EXISTENCIAS_ORIGEN_DIR=C:\CERTIFICACIONES\NOMBRE_ENTIDAD\EXISTENCIAS\PLANOS
EXISTENCIAS_NACIONAL_DIR=C:\CERTIFICACIONES\NOMBRE_ENTIDAD\NACIONAL

# Directorio de logs (opcional)
EXISTENCIAS_LOG_DIR=C:\CERTIFICACIONES\NOMBRE_ENTIDAD\logs